<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.healing.tjx.admin.mapper.UmsRoleMapper">

    <select id="selectRoleByAdminId" resultType="com.healing.tjx.admin.entity.UmsRole">
      select ro.`id`,ro.name,ro.description,ro.admin_count,ro.create_time,ro.status,ro.sort
      from `ums_role_permission_relation` r
      inner join `ums_role` ro on r.`role_id` = ro.id
      where r.`permission_id` = #{adminId}
    </select>
</mapper>
